<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="about.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About Us</a>
        </li>
        <li>
          <a href="/contact">Contact Us</a>
        </li>
      </ul>
    </nav>
    <section>
      <div>
        <h3>About Us</h3>
        <p>
          At PureGrocer, we believe in providing fresh, quality groceries that
          bring health, happiness, and convenience to your home. Founded with a
          passion for community and a dedication to offering the best in local
          and international products, we strive to be more than just a grocery
          store – we are your trusted partner in everyday life. Our mission is
          simple: to offer a wide variety of fresh, organic, and responsibly
          sourced products that cater to the diverse needs of our customers.
          Whether you're looking for farm-fresh produce, premium meats, pantry
          staples, or hard-to-find gourmet items, we've got you covered.
        </p>
      </div>
      <div>
        <img
          src="https://media.istockphoto.com/id/1157106624/photo/all-your-necessities-stored-in-one-place.jpg?s=612x612&w=0&k=20&c=fANV-CP9N_Dt5lVoKWiZdAch60-2IOeHEm_pnvgk348="
          width="500"
          height="500"
          alt="grocery-store"
        />
      </div>
    </section>
    <footer>
      <div><p>Copyright @ <%= year %></p></div>
    </footer>
  </body>
</html>
